<% if message.user.class == Doctor %>
  <div class="doctor-box-chat">
  	<div class="pull-right">
  		<strong><%=@conversation.doctor.doctor_profile.last_name%> - Doctor</strong>
  		<div><p class="doctor-text-chat"> <%=message.content%></p></div>
  	</div>
  	<div class="clearfix"></div>
  </div>
<% else %>
	<div class="patient-box-chat">
  	<div class="pull-left">
  		<strong><%=@conversation.patient.patient_profile.first_name %> - Paciente</strong>
  		<div><p class="patient-text-chat"> <%=message.content%></p></div>
  	</div>
  	<div class="clearfix"></div>
  </div>  
<% end %>
