<% if conversation.status == "closed" %>
  <div class="conv-child">
    <div class="alert alert-warning">
	    <p>El Doctor cerr贸 esta conversaci贸n.</p>
	    <p class="p-b-3">Si quieres hacer una nueva consulta a uno de nuestros doctores empieza una nueva conversaci贸n.</p>
	    <div class="btns-t">
		    <%= link_to "Regresar", root_path, class: "btn btn-success" %>
		    <%= link_to "Empieza una nueva conversaci贸n", conversations_path, method: 'post', class: "btn btn-danger" %>
	    </div>
	  </div>
  </div>
<% end %>
