<div class="container padded paciente">
  <div class="row">
    <section class=" ">
      <div class="text-center">
      	<%= link_to "Iniciar chat con un doctor", conversations_path, method: 'post', class: 'btn btn-primary' %>
    	</div>
  </section>
  </div>
</div>


<%= render partial: 'pages/footer' %>