<div class="container padded paciente">
  <div class="row">
    <section class=" ">
      <div class="text-center">
      	<%= link_to "Iniciar chat con un doctor", conversations_path, method: 'post', class: 'btn btn-primary' %>
    	</div>
    	<div class="slogan-paciente">
        <div class="">
          <p>Para tener una mejor atención, <br/>actualiza tus datos en Perfil</p>
        </div>
      </div>
  </section>
  </div>
</div>


<%= render partial: 'pages/footer' %>