<footer class="footer">
  <div class="container">
    <div class="row">

      <!-- Copyright -->
      <div class="col-sm-12">
        <div class="footer__copyright pull-right">
          <p>Designed & Powered by <a href="/"><%= image_tag "logo-latutuma.png", :alt => "LATUTUMA" %></a> </p>
        </div>
      </div>
      <!-- End Copyright -->

    </div>
  </div>
</footer>