<div class="white-bg cnt-term">
	<div class="container ">
	<h2>Términos y condiciones</h2>
	<p>loren insuploren insuploren insuploren insuploren insuploren insuploren insuploren insuploren insuploren insuploren insuploren insuploren insuploren insuploren insuploren insuploren insuploren insuploren insuploren insuploren insuploren insuploren insuploren insuploren insup</p>
	<p>loren insuploren insuploren insuploren insuploren insuploren insuploren insuploren insuploren insuploren insuploren insuploren insuploren insuploren insuploren insuploren insuploren insuploren insuploren insuploren insuploren insuploren insuploren insuploren insuploren insup</p>
	<p>loren insuploren insuploren insuploren insuploren insuploren insuploren insuploren insuploren insuploren insuploren insuploren insuploren insuploren insuploren insuploren insuploren insuploren insuploren insuploren insuploren insuploren insuploren insuploren insuploren insup</p>
	<p>loren insuploren insuploren insuploren insuploren insuploren insuploren insuploren insuploren insuploren insuploren insuploren insuploren insuploren insuploren insuploren insuploren insuploren insuploren insuploren insuploren insuploren insuploren insuploren insuploren insup</p>
	</div>
</div>

<%= render partial: 'pages/footer' %>
