<div class="item-conversarcion">
	<span class="icon-status"> </span>
	<%= link_to conversation.patient.patient_profile.first_name, doctor_conversation_path(conversation), target: "_blank", id: conversation.access_token, class: "list-group-item list-group-item-action whatever link-conversacion" %></div>
</div>