if ($('#kapor').text().length) {
  var abc = $('#kapor').text();
  App.messages = App.cable.subscriptions.create({channel: 'MessagesChannel', access_token: abc}, {
    received: function(data) {
      $("#messages").not(".hidden #messages").removeClass('hidden')
      return $('#messages').not(".hidden #messages").append(this.renderMessage(data));
    },
    renderMessage: function(data) {
      var notificationEvents = ['onclick', 'onshow', 'onerror', 'onclose'];
      var title = data.user + " mandó un mensaje";
      var options = {
        body: data.message,
        tag: 'custom'
      };
      Notification.requestPermission(function() {
        if (title.substring(0,3) == "Dr."){
          console.log("ok");
        } else {
          var notification = new Notification(title, options);

          notificationEvents.forEach(function(eventName) {
            notification[eventName] = function(event) {
              console.log(data.message)
            };
          });
          notification.onclick = function(event) {
            event.preventDefault(); // prevent the browser from focusing the Notification's tab
            window.open('/doctor/conversations/' + abc, '_blank');
            this.close();
          }
        }
      });
      return "<p> <b>" + data.user + ": </b>" + data.message + "</p>";
    }
  });
}


