if ($('#kapor').text().length) {
  var abc = $('#kapor').text();
  App.messages = App.cable.subscriptions.create({channel: 'MessagesChannel', access_token: abc}, {
    received: function(data) {
      $("#messages").not(".hidden #messages").removeClass('hidden')
      return $('#messages').not(".hidden #messages").append(this.renderMessage(data));
    },
    renderMessage: function(data) {
      if(window.location.href.indexOf("doctor") > 0) {
        var notificationEvents = ['onclick', 'onshow', 'onerror', 'onclose'];
        var title = data.user + " mandó un mensaje";
        var options = {
          body: data.message,
          tag: data.user,
          icon: "<%= asset_path('sobre.png') %>",
          requireInteraction: true
        };
        Notification.requestPermission(function() {
          if (title.substring(0,3) == "Dr."){
            console.log("ok");
          } else {
            var notification = new Notification(title, options);

            notificationEvents.forEach(function(eventName) {
              notification[eventName] = function(event) {
                console.log(data.message)
              };
            });
            notification.onclick = function(event) {
              parent.focus();
              window.focus();
              this.close();
            }
          }
        });
      }

      if (data.user.substring(0,3) == "Dr.") {
        return '<div class="item-chat"><div class="doctor-box-chat"><div class="pull-right"><strong>'+ data.user +' - Doctor </strong><div><p class="doctor-text-chat"> '+ data.message +'</p></div></div><div class="clearfix"></div></div><div class="clearfix"></div></div>';
      }
      if (data.user.substring(0,3) !== "Dr.") {
        return '<div class="item-chat"><div class="patient-box-chat"><div class="pull-left"><strong>'+ data.user +' - Paciente </strong><div><p class="patient-text-chat"> '+ data.message +'</p></div></div><div class="clearfix"></div></div><div class="clearfix"></div></div>';
      }
    }
  });
}
